/RestApi.Sdk.Common/nbproject/private/
/RestApi.Sdk.LearningToolApp/nbproject/private/
/RestApi.Sdk.LearningToolApp/build/
/RestApi.Sdk.Common/dist/
/RestApi.Sdk.Common/build/
/RestApi.Sdk.LearningToolApp/dist/